@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&display=swap');


:root{
    --couleur-principale: #0024FF;
    --couleur-secondaire: #0AFFD4;
    --couleur-tertiaire: #CECECE;
    --couleur-quaternaire: #030219;
    --couleur-cinquieme: #FFFFFF;
}

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      background: linear-gradient(135deg, #030219, #0024FF);
      background-size: 200% 200%;
      animation: gradientAnimation 10s ease infinite;
    color: var(--couleur-cinquieme);
    overflow-x: hidden;
    transition: background-color 0.15s ease-in-out;
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.navbar {
    background-color: var(--couleur-quaternaire);
    padding: 1px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: #0024FF 0px 1px 2px;
}

.nav-container {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    border-bottom: var(--couleur-cinquieme) 2px solid;

}

.home-image {
    height: 100%;
    width: 110px;
}

.button-inscription {
    background-color: var(--couleur-secondaire);
    padding: 8px 15px;
    border-radius: 4px;
}

.button-inscription .nav-link {
    color: #fff;
    font-weight: bold;
}

.button-inscription:hover {
    background-color: var(--couleur-tertiaire);
}

.Entete{
    margin-top: 220px;
    padding: 0 50px;
    width: 850px;
    height: 150px;
    font-size: 48px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 100px;

    
}

.more{
    background-color: var(--couleur-secondaire);
    padding: 8px 15px;
    border-radius: 4px;
    color: var(--couleur-cinquieme);
    font-family: "Abel", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 18px;
    margin-left: 150px;


}

.LogoEntete{
    display: flex;
    position: absolute;
    width: 450px;
    height: 450px;
    right: 80px;
    top: 140px;

}


.section {
    margin-top: 150px;
    padding: 50px 20px;
    text-align: center;
}

.section-title {
    font-size: 48px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
    color: var(--couleur-cinquieme);
    text-transform: uppercase;
}




/* Card container styling */
.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

/* Individual card styling */
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(25% - 20px);
    text-align: left;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.Etiquette{
    font-size: 12px;
    background-color: var(--couleur-secondaire);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 15px;
    width: fit-content;

}

.card-title {
    font-size: 1.5rem;
    margin: 15px;
    color: var(--couleur-quaternaire);
}

.card-text {
    font-size: 1rem;
    margin: 0 15px 15px 15px;
    color: #666;
}

.card-link {
    display: inline-block;
    margin: 15px;
    padding: 10px 15px;
    background-color: var(--couleur-secondaire);
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.card-link:hover {
    background-color: var(--couleur-secondaire);
}


/* Footer styling */
footer {
    background-color: var(--couleur-quaternaire);
    color: #fff;
    padding: 40px 0px;
    margin-top: 50px;
    text-align: center;
    position: relative;
}

.content-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #444;
}

.brand {
    flex: 1;
    min-width: 200px;
    text-align: left;
}

.brand-logo {
    width: 150px;
    margin-bottom: 10px;
}

.brand-text {
    font-size: 1rem;
    line-height: 1.5;
    color: #bbb;
}

.bloc {
    flex: 1;
    min-width: 150px;
    padding: 40px 10px;
    margin-top: 40px;
}

.footer-produits .list-produits, 
.footer-social .list-social {
    list-style-type: none;
    padding: 0;
}

.footer-produits .list-produits li, 
.footer-social .list-social li {
    margin-bottom: 25px;
}

.footer-produits a, 
.footer-social a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-produits a:hover, 
.footer-social a:hover {
    color: var(--couleur-secondaire);
}

.footer-social img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.footer-social img:hover {
    transform: scale(1.1);
}

.footer-copy {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #bbb;
}

.footer-social .list-social {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.footer-social .list-social li {
    margin-bottom: 15px;
}

.footer-social a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: var(--couleur-secondaire);
}

.footer-social img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.footer-social img:hover {
    transform: scale(1.1);
}

.footer-social a:hover img {
    transform: scale(1.1);
}

.Copyright{
    margin-top: 20px;
    font-size: 0.9rem;
    color: #bbb;
    text-align: center;
}

/*Page contact*/

.form-contact {
    display: flex;
    width: 90%;
    height: 580px;
    margin: auto;
    margin-top: 140px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    width: 50%;
    overflow: hidden;
    margin-left: 20px;
}

.Img-contact {
    object-fit: cover;
}

.image-container img {
    width: 85%;
    height: 85%;
    object-fit: contain;

}

.contact-container {
    width: 600px;
    background-color: var(--couleur-cinquieme);
    border-radius: 15px;
    padding: 22px;
    margin: 10px;
}

.contactH1 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input:focus, textarea:focus {
    border-color: #007bff;
    outline: none;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.formInscription {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    padding: 20px;
}

.section-inscription {
    background-color: transparent;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 0 10px var(--couleur-principale);
    padding: 30px;
    max-width: 400px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: var(--couleur-quaternaire);
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.container {
    
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: transparent;
    color: var(--couleur-cinquieme);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

.sectionInfo {

    margin-bottom: 20px;
    margin-top: 90px;
}

.sectionInfo h2 {
    text-align: center;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.sectionInfo p {
    padding: 10px 40px;
    margin-bottom: 20px;
}



.navbar {
    color: #fff;
    padding: 10px;
    position: relative;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin: 0 10px;
}



.lessons-main {
    margin-top: 150px;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    height: 76vw;
    overflow: hidden;
}

.values-container {
    text-align: center;
    padding: 20px;
    padding-top: 25px;
    height: 50vw;
}

.values-container h1 {
    font-size: 42px;
    margin-bottom: 10px;
    font-family: sansita, sans-serif;
}

.values-container p {
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.card-container-lesson {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    height: 45vw;
}

.card-lessons {
    border-radius: 10px;
    width: 21vw; 
    height: 30vw;
    perspective: 1000px;
    margin: 0.75vw;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 390px;
    text-align: left;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-lessons:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

.card-front {
    background-color: var(--couleur-cinquieme);
    color: var(--couleur-quaternaire);
    padding-top: 20px;
}

.card-front p {
    font-size: 18px;
}

.lessons-img {
    display: flex;
    height: 250px;
    width: 100%;
    background-color: var(--couleur-quaternaire);
    margin-bottom: 2.5vw;
    border-radius: 15px;
}

.card-front h2 {
    align-items: flex-start;
    justify-content: flex-start;
}

.card-back {
    transform: rotateY(180deg);
    padding: 0;
}

.card-back img {
    width: 110%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}


/* Styles pour le menu hamburger */
.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
}

.nav-container {
    display: flex;
    flex-direction: row;
}


.lesson-container {
    max-width: 900px;
    margin-top: 150px;
    margin-left: 20%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lesson-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.lesson-section {
    margin-bottom: 30px;
}

.lesson-section li {
    color: var(--couleur-quaternaire);
    margin-bottom: 8px;
}

.lesson-container h2 {
    color: #007bff;
    margin-bottom: 10px;
}

.lesson-container p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.quiz-section label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#quiz-result {
    margin-top: 20px;
    font-weight: bold;
}

.interaction-section {
    margin-bottom: 30px;
}


@media (max-width: 420px) {
    .nav-container {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav-container.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .nav-item {
        margin: 10px 0;
    }

    .LogoEntete{
        display: none;
    }
    .Entete{
        margin-top: 100px;
        width: fit-content;
        margin: 0;
        padding: 20px;
    }
    
    .more{
        margin-left: 20px;
        display: flex;
        position: relative;
        top: 150px;
        width: fit-content;
    }

    .more span {
        margin-left: 5px;
    }
    .section {
        margin-top: 150px;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }


        /* Footer */
        footer {
            color: #333;
            padding: 20px;
            text-align: center;
            border-top: 2px solid #007bff;
        }

        .content-footer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .brand {
            margin-bottom: 20px;
        }

        .brand-logo{
            margin-left: 110px;
        }

        .brand-text {
            font-size: 18px;
        }

        .footer-produits, .footer-social {
            margin: 10px 0;
        }

        .list-produits, .list-social {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
        }

        .list-produits li, .list-social li {
            margin: 0;
        }

        .list-social img {
            height: 20px;
            vertical-align: middle;
        }

        .Copyright {
            margin: 20px 0 0;
            font-size: 14px;
        }

    
}